/* START COMMON CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Colaborate';
    /* font-family: 'Raleway', sans-serif; */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.fix {
    overflow: hidden;
}

.container {
    width: 80%;
    margin: auto;
}

.container-fluid {
    width: 100%;
    margin: auto;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-12 {
    width: 100%;
    float: left;
    padding: 0 15px;
}

.col-11 {
    width: 91.66%;
    float: left;
    padding: 0 15px;
}

.col-10 {
    width: 83.34%;
    float: left;
    padding: 0 15px;
}

.col-9 {
    width: 75%;
    float: left;
    padding: 0 15px;
}

.col-8 {
    width: 66.66%;
    float: left;
    padding: 0 15px;
}

.col-7 {
    width: 58.33%;
    float: left;
    padding: 0 15px;
}

.col-6 {
    width: 50%;
    float: left;
    padding: 0 15px;
}

.col-5 {
    width: 41.66%;
    float: left;
    padding: 0 15px;
}

.col-4 {
    width: 33.33%;
    float: left;
    padding: 0 15px;
}

.col-3 {
    width: 25%;
    float: left;
    padding: 0 15px;
}

.col-2 {
    width: 16.66%;
    float: left;
    padding: 0 15px;
}

.col-1 {
    width: 8.33%;
    float: left;
    padding: 0 15px;
}

.pt-140 {
    padding-top: 140px;
}

.pt-120 {
    padding-top: 120px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-50 {
    padding-top: 60px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-140 {
    padding-bottom: 140px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-20 {
    padding-bottom: 20px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-70 {
    margin-top: 70px;
}


.mt-60 {
    margin-top: 60px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.black-bg {
    background: #222;
}

.gray-bg {
    background: #f2f2f2;
}

.text-center {
    text-align: center;
}

.color-white {
    color: #fff;
}

.text-right {
    text-align: right;
}

.float-right {
    float: right;
}

/* END COMMON CSS */

.header-area {
    border-top: 4px solid #00a8b6;
}

.logo {
    margin-top: 50px;
}

.main-menu {
    padding: 50px 0;
    float: right;
}

.main-menu ul {}

.main-menu ul li {
    margin-left: 40px;
    float: left;
    font-size: 20px;
}

.main-menu ul li a {
    font-weight: 100;
    color: #8f9899;
}

.main-menu ul li a:hover {
    color: #373939;
}

/* HOME CSS */

.slider-area {
    background-position: center;
    background-size: cover;
}

.slider-text {
    margin-right: 150px;
}

.slider-text h4 {
    font-size: 60px;
    color: #515151;
    font-family: 'Script MT';
}

.slider-text p {
    font-size: 35px;
    color: #8f9899;
    padding: 40px 0 45px 0;
}

.btn-primary {
    font-size: 16px;
    padding: 20px;
    padding-right: 25px;
    background: #8fbe00;
    color: #fff;
    border-bottom: 5px solid #7fa900;
    border-radius: 5px;
    font-weight: 500;
    text-transform: uppercase;
}

.bg-color {
    background: #00a8b6;
}

.cta-left p {
    color: #fff;
    font-size: 22px;
}

.cta-area .btn-primary {
    background: #f9f2e7;
    color: #515151;
    font-size: 16px;
    border-color: #e6e2da;
}

.service-area {
    background: #f5feff;
}

.single-service img {
    width: 50px;
    height: 50px;
}

.single-service h4 {
    padding: 25px 0;
    font-size: 28px;
    color: #184448;
}

.single-service p {
    font-size: 17px;
    color: #657273;
    line-height: 26px;
    font-weight: 400;

}

.section-title h2 {
    padding: 80px 0;
    color: #184448;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.single-project {
    position: relative;
    transition: 0.4s;
}

.project-img img {
    width: 100%;
}

.project-img {
    position: relative;
}

.project-img::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: #40c0cb;
    opacity: 0;
}

.project-contents h4 {
    color: #f5feff;
    font-size: 28px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.project-contents h4::before {
    position: absolute;
    width: 60px;
    height: 2px;
    background: #fff;
    content: "";
    bottom: 0;
    left: 35%;
    text-align: center;
}

.project-contents {
    text-align: center;
    position: absolute;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    visibility: hidden;
    padding: 70px 5px;
}

.project-contents p {
    color: #f5feff;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 300;
}

.project-contents a {
    color: #f5feff;
    font-size: 16px;
    border: 1px solid #f5feff;
    text-transform: uppercase;
    padding: 20px 40px;
    display: inline-block;
}

.single-project:hover .project-img::before {
    opacity: 0.8;
}

.single-project:hover .project-contents {
    visibility: visible;
}

.blog-area {
    background: #f5feff;
}

.single-blog {
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
}

.blog-img img {
    width: 100%;
}

.blog-text {
    padding: 35px 20px;
}

.blog-text h4 {
    color: #184448;
    font-size: 24px;
}

.blog-text p {
    color: #657273;
    font-size: 18px;
    padding: 30px 0;
    font-weight: 400;
    line-height: 26px;
}

.blog-text a {
    color: #00a8b6;
    font-size: 18px;
}

.blog-text a i {
    font-size: 13px;
}

.blog-bottom {
    display: flex;
    padding-left: 20px;
    border-top: 1px solid #ccc;
}

.bottom-content {
    padding: 13px 0px;
    display: flex;
    margin-right: 10px;
}

.bottom-content i {
    color: #b7c0c0;
    font-size: 12px;
    margin-right: 5px;
}

.bottom-content p {
    color: #b7c0c0;
    font-size: 12px;
    display: inline-block;
}

.tweeks-area .section-title h2 {
    padding-bottom: 10px;
    color: #fff;
    font-size: 40px;
}

.tweeks-area .section-title p {
    color: #fff;
    letter-spacing: 6px;
    font-size: 18px;
}

.tweeks-content {}

.tweeks-content i {
    font-size: 50px;
    color: #00a8b6;
    margin: 50px 0;
}

.tweeks-content p {
    color: #d6dcdd;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 50px;
    display: block;
}

.tweeks-content span {
    color: #d6dcdd;
    font-size: 20px;
    padding-top: 45px;
    position: relative;
    display: inline-block;
}

.tweeks-content span::before {
    position: absolute;
    content: "";
    background: #2f4045;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;

}

.single-new {}

.single-new p {
    color: #657273;
    font-size: 18px;
    line-height: 26px;
}

.single-new a {
    color: #00a8b6;
    display: inline-block;
    font-size: 18px;
    margin-top: 30px;
}

.date-title {
    display: flex;
    margin-bottom: 30px;
}

.date-title h2 {
    color: #184448;
    font-size: 23px;
    padding: 10px 0;
}

.date {
    position: relative;
    background: #40c0cb;
    padding: 20px;
    margin-right: 25px;
    text-align: center;
}

.date::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 5px solid #39abb5;
}

.date span {
    font-size: 30px;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.date p {
    font-size: 30px;
    color: #fff;
}

.footer-area {
    background: #172125;
}

.social-text p {
    padding: 30px 0;
    line-height: 22px;
    color: #bec1c3;
    font-size: 18px;
    text-align: justify;
}

.social-text a {
    color: #40c0cb;
    font-size: 18px;
    padding: 35px 0;
    display: inline-block;
}

.social-icon {
    width: 100%;
    display: flex;
    margin-bottom: 45px;
}

.social-icon i {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    background: #657273;
    display: inline-block;
    margin-right: 10px;
}

.social-text>span {
    display: block;
    color: #fff;
    font-size: 10px;
}

.social-text span strong {
    color: #00a8b6;
}

.social-text h1 {
    font-family: 'Script MT';
    display: inline-block;
    color: #fff;
    font-size: 36px;
}

.social-text h1 span {
    color: #00a8b6;
}

.footer-title h2 {
    color: #fefefe;
    font-size: 28px;
    margin-bottom: 25px;
}

.footer-sm-blog {
    display: flex;
    margin-bottom: 15px;
}

.footer-blog-img {
    margin-right: 12px;

}

.footer-blog-img img {
    width: 90px;
    height: 90px;
}

.sm-blog-text p {
    color: #fefefe;
    font-size: 16px;
    margin-bottom: 10px;
}

.sm-blog-text span {
    color: #40c0cb;
    font-size: 15px;
}

.tag-row span {
    width: 45%;
    background: #657273;
    font-size: 16px;
    color: #e0e3e3;
    padding: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.tag-row {
    margin-bottom: 10px;
}

.footer-link {
    margin-top: 25px;
    color: #fff;
}

.footer-link p {
    font-size: 16px;
    line-height: 20px;
}

.footer-link p span {
    color: #00a8b6;
}

.widget-img img {
    width: 32%;
}

.swiper {
    padding: 25px 0;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    color: #bbc2c2;
    border: 1px solid #adb5b6;
    padding: 25px;
    font-size: 16px;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    color: #bbc2c2;
    border: 1px solid #adb5b6;
    padding: 25px;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    font-size: 15px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: 'prev';
    font-size: 15px;
}

/* END HOME CSS */

/* ABOUT CSS HERE*/

.single-slide-position {
    position: relative;
}

.single-slide-position .silder-img img {
    width: 100%;
}

.single-slide-position .slider-text {
    position: absolute;
    content: "";
    top: 15%;
    /* bottom: -59px; */
    left: 9%;
    text-align: center;
    /* transform: translateY(-50%); */
}

.single-slide-position .slider-text {
    width: 45%;
}

.single-slide-position .slider-text h4 {
    color: #fff;
    font-size: 50px;
}

.single-slide-position .slider-text h4 span {
    color: #00a8b6;
}

.single-slide-position .slider-text p {
    color: #d1d4d4;
    font-size: 30px;
    font-family: 'Script MT';
}

.single-slide-position .slider-text a {
    background: #00a8b6;
    font-size: 16px;
    color: #fff;
    border-bottom: 5px solid #0096a2;
    border-radius: 3px;
    padding: 10px 24px 5px 24px;
}

.single-slide-position .slider-text a.btn-secondary {
    background: #fff;
    font-size: 16px;
    color: #00a8b6;
    text-transform: uppercase;
    border-bottom: 5px solid #e6e2da;
    border-radius: 3px;
    padding: 10px 24px 5px 24px;
    margin-left: 20px;
}

.about-page {
    padding: 0;
}

.about-page .swiper-button-next,
.swiper-rtl .swiper-button-prev {
    color: #00a8b6;
    border: 1px solid #00a8b6;
    padding: 25px;
    font-size: 16px;
}

.about-page .swiper-button-prev,
.swiper-rtl .swiper-button-next {
    color: #00a8b6;
    border: 1px solid #00a8b6;
    padding: 25px;
}

.success-number-area {
    background: #f4feff;
}

.success-number-area h2 {
    color: #184448;
    font-size: 28px;
    font-weight: 400;
}

.success-number-area p {}

.success-number-area .section-title h2 {
    padding: 0;
    color: rgb(24, 68, 72);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 18px;
}

.success-number-area .section-title p {
    color: rgb(24, 68, 72);
    font-size: 18px;
    letter-spacing: 5px;
}

.our-office-area .section-title h2 {
    padding: 0;
    color: rgb(24, 68, 72);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 40px;
}

.our-office-area .section-title p {
    color: rgb(24, 68, 72);
    font-size: 18px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 5px;
    color: #184448;
    font-weight: 400;
    margin-bottom: 75px;
}

.team img {
    width: 100%;
}

.agency-content p {
    color: #657273;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 46px;
}

.system-growth-area h2 {
    text-transform: uppercase;
    padding: 75px;
    color: #184448;
    font-size: 40px;
}

.team-area {
    background: #f5feff;
}

.team-area h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    padding-bottom: 75px;
}

.single-team {
    margin-bottom: 30px;
    display: flex;
    border: 1px solid #ccc;
}

.team-image img {}

.team-content {}

.team-content h4 {
    margin-top: 18px;
}

.team-content span {
    color: #b7c0c0;
    font-size: 14px;
    padding: 16px 0;
    display: block;
}

.team-content p {
    color: #657273;
    font-size: 18px;
    line-height: 25px;
}

.team-image {
    margin-right: 20px;
}

.team-image img {
    width: 100%;
    height: 100%;
}

.team-social {
    margin-top: 20px;
    margin-bottom: 16px;
}

.team-social i {
    background: #cdd4d4;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    font-size: 10px;
    margin-right: 10px;
}

.testimonial-area h2 {
    text-align: center;
    font-size: 40px;
    color: #184448;
    text-transform: uppercase;
    font-weight: 700;
}

.single-testimonial {
    margin-top: 80px;
    text-align: center;
}

.single-testimonial p {
    color: #657273;
    font-size: 18px;
    line-height: 24px;
}

.testimonial-logos {
    display: flex;
    margin: 60px 0;
}

.testimonial-logo {
    margin-right: 20px;
    margin-left: 20px;
}


/* Progress Tracker v2 */

.step-progress {
    text-align: center;
    width: 80%;
    margin: 30px auto;
}

.step {
    text-align: center;
}

.step p {
    width: 50px;
    height: 50px;
    background: #ddeff1;
    line-height: 50px;
    border-radius: 50%;
    display: inline-block;
    font-size: 18px;
}

.step label {
    display: block;
    margin-top: 20px;
    color: #184448;
    font-size: 18px;
    font-weight: 700;
}

.progressbar li {
    float: left;
    position: relative;
    margin-left: 80px;
}

.progressbar li::before {
    position: absolute;
    content: "";
    height: 10px;
    background: #ddeff1;
    width: 122px;
    top: 22%;
    left: 52px;
    border-radius: 5px;
}

.progressbar li:nth-child(1):before {
    background: #0096a2;
}

.progressbar li:nth-child(1) p {
    background: #0096a2;
    color: #fff;
}

.progressbar li:nth-child(2):before {
    background: #0096a2;
}

.progressbar li:nth-child(2) p {
    background: #0096a2;
    color: #fff;
}

.progressbar li:nth-child(3) p {
    background: #0096a2;
    color: #fff;
}

.progressbar li:last-child::before {
    background: 0;
}

.skillbar {
    background-color: #ddeff1;
    /* border-bottom: 5px solid #d2e9eb; */
    border-radius: 0;
}

.skillbar.html .title,
.skillbar.css .title,
.skillbar.js .title {
    background-color: #00a8b6;
}

.skillbar.html .filled,
.skillbar.css .filled,
.skillbar.js .filled {
    background-color: #00a8b6;
    border-bottom: 5px solid #0096a2;
}

.skillbar .title {
    background-color: rgba(0, 0, 0, .6);
    height: 30px;
    width: 0px;
    text-align: center;
    left: 40px;
    color: #f0f0f0;
    border-left: 1px solid #0096a2;
    border-radius: 0;
}

.skillbar .percent {
    left: 0;
    color: #fff;
    padding-left: 5px;
}

.skillbar .percent,
.skillbar .title {
    padding: 5px;
    position: absolute;
    top: 0;
    z-index: 9;
    font-weight: 400;
}


.skillbar .filled {
    border-radius: 0;
}

.percent label {
    border-left: 1px solid #0096a2;
    padding-left: 5px;
}

.swiper-wrapper {
    padding-bottom: 35px;
}

/* END ABOUT CSS HERE*/

/* SERVICES PAGE CSS HERE */
.vedio-text p {
    color: #657273;
    font-size: 18px;
    line-height: 28px;
}

.single-service {
    margin-bottom: 55px;
}

.service-area h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 35px;
    color: #184448;
}

.single-price {
    text-align: center;
}

.single-price h2 {
    color: 184448;
    font-size: 24px;
    background: #dee9ea;
    padding: 30px 0;
    font-weight: 700;
    text-transform: uppercase;
}

.single-price>p {
    background: #edf4f5;
    padding: 25px 0;
    color: #657273;
    font-size: 28px;
}

.single-price ul {
    padding: 37px 0;
}

.single-price ul li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.single-price ul li p {
    color: #657273;
    font-size: 18px;
}

.single-price ul li p span {
    font-weight: 700;
}

.single-price a {
    color: #184448;
    font-size: 22px;
    text-transform: uppercase;
    padding: 30px 0;
    display: block;
    background: #edf4f5;
    border-bottom: 5px solid #e2e6e6;
}

.single-price:hover h2,
.single-price:hover > p,
.single-price:hover a {
    color: #fff;
}

.single-price:hover h2 {
    background: #40c0cb;
}

.single-price:hover > p,
.single-price:hover a {
    background: #00a8b6;
}

.price-area .section-title h2 {
    font-size: 35px;
}

/* END SERVICES PAGE CSS HERE */

/* BLOG PAGE CSS */
.blog-post-area .blog-image img {
    width: 100%;
}
.blog-page-single-blog h2 {
    color: #184448;
    font-size: 24px;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 40px;
}

.blog-page-single-blog span {
    color: #b3bcbd;
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}
.blog-page-single-blog span p {
    color: #00a8b6;
    font-size: 14px;
    display: inline-block;
}
.blog-page-single-blog p {
    color: #657273;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
}
.search {
    position: relative;
}
.search input {
    
    padding: 10px 30px;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.search i {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #172125;
    z-index: 999999999999;
}
.advertisement {
    width: 100%;
    background: #dee9ea;
    text-align: center;
    margin-top: 30px;
    border-radius: 5px;
}
.advertisement h2 {
    color: #184448;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 0;
}
.adv-img {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.adv-img img {
    width: 100%;
}

.categories {
    margin-top: 50px;
    margin-bottom: 50px;
}
.categories h2 {
    color: #184448;
    font-size: 30px;
    margin-bottom: 30px;
}
.categories ul li {
    margin-bottom: 30px;
    position: relative;
    padding-left: 20px;
}
.categories ul li::before {
    position: absolute;
    content: "\f0da";
    left: 0;
    top: 0;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    color: #d2e0e1;
}
.categories ul li a {
    color: #657273;
    font-size: 16px;
    display: block;
}

.blog-post-area .footer-blog{
    margin-bottom: 35px;
}
.blog-post-area .footer-title h2 {
    color: #184448;
    font-size: 30px;
}

.blog-post-area .tag-row span {
    background: #dee9ea;
}
.blog-post-area .tag-row span a{
    color: #184448;
    font-size: 14px;
    display: block;
}
.blog-post-area .footer-blog-img img {
    width: 80px;
    height: 70px;
}
.blog-post-area .sm-blog-text p {
    color: #184448;
    font-size: 14px;
}
.blog-post-area .sm-blog-text span {
    color: #b3bcbd;
    font-size: 14px;
}
/* END BLOG PAGE CSS */